{{!-- The footer at the very bottom of the screen --}}
<footer id="colophon" class="site-footer">
	<p class="site-info inner"><a href="{{@site.url}}">{{@site.title}}</a> &copy; {{date format="YYYY"}}. {{{t "Royce theme by {jgtlink}. Powered by {ghostlink}." jgtlink="<a target=\"_blank\" href=\"https://justgoodthemes.com/\" rel=\"noopener\">Just Good Themes</a>" ghostlink="<a  target=\"_blank\" href=\"https://ghost.org\" rel=\"noopener\">Ghost</a>"}}}</p>
	<a id="back-to-top" class="back-to-top" href="#page"><span class="icon-arrow-up" aria-hidden="true"></span><span class="screen-reader-text">{{t "Back to top"}}</span></a>
</footer><!-- .site-footer -->
