{{!-- The post loop used on author and tag archive pages --}}
{{#foreach posts}}
<article class="{{post_class}}">
	<header class="post-header">
		<div class="post-meta">
			{{#if featured}}<span class="featured-badge">{{t "Featured"}}</span> &ndash; {{/if}}<time class="published" datetime="{{date format='YYYY-MM-DD'}}">{{date format="LL"}}</time>
		</div><!-- .post-meta -->
		<h2 class="post-title"><a href="{{{url}}}" rel="bookmark">{{title}}</a></h2>
	</header><!-- .post-header -->
	<div class="post-content">
		{{#if custom_excerpt}}
		<p>{{custom_excerpt}}</p>
		{{else}}
		<p>{{excerpt words="40"}}&hellip;</p>
		{{/if}}
		{{#if tags}}
		<p class="post-tags">{{tags separator=" "}}</p>
		{{/if}}
	</div><!-- .post-content -->
</article><!-- .post -->
{{/foreach}}

{{!-- Previous/next page links - displayed on every page --}}
{{pagination}}
